<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!--<nav th:replace="fragments :: page-header"></nav>-->
<br>
<br>
 <h1 style="text-align:center;">"Darro Tech's" EZ Planner Application</h1>
<div style="text-align:center;">
    <form method="post">
        <div class="form-group">
            <label th:for="username">Username
                <input class="form-control" th:field="${loginFormDTO.username}">
            </label>
            <p style="color:red;" class="error" th:errors="${loginFormDTO.username}"></p>
        </div>
        <div class="form-group">
            <label>Password
                <input class="form-control" th:field="${loginFormDTO.password}" type="password">
            </label>
            <p style="color:red;" class="error" th:errors="${loginFormDTO.password}"></p>
        </div>

        <input type="submit" class="btn btn-primary btn-round" value="Log In" />
    </form>
    <h3>Current Subscribers: <span style="font-size:150%;" class="badge" th:text="${userCount}">10</span></h3><br>
    <p style="color:black;">Don't have an account? <a href="/register">Subscribe  today for free.</a></p>
</div>
<p>&#169 2022 Application Made By <a th:href="@{links/resume}">@DarroTechMadeThis<sup>3</sup></a></p>

</body>
</html>